body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#text-1{
    font-size: 13px;
    
}
#text-2w{
    width: 6%;
    font-size: 12px;
    
    
}
.border_black{
    border-bottom: 1px solid black;
}